* {
    box-sizing: border-box;
    outline: 1px solid transparent;
}

:root {
  --roundness: 0.7rem;
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --font-size-default: 1rem;
  --padding-default: 0.5em;
  --accent: rgb(20, 193, 20);
  --accent-border: rgba(20, 193, 20, 0.271);
}

#root {
  padding: 0rem;
  width: 100%;
  margin: 0rem auto;
  border-radius: var(--roundness);
}

#logo {
  width: 12rem;
  height: auto;
}

.header-button {
  font-size: var(--font-size-default);
  border-radius: var(--roundness);
  border-color: transparent;
  background-color: transparent;

  &:hover {
    &:hover {
    cursor: pointer;
    background-color: var(--bg-color);
  }
  }
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
    justify-content: space-between;
}

.less-bottom-margin {
  margin-bottom: 0;
}

.container > * {
    padding: 1rem;
    margin: 0.2rem;
}

header {
  width: 100%;
}

.bg-beige {
    background-color: beige;
}

h1 {
  font-size: 3rem;
}

.generator {
  font-size: var(--font-size-default);
  padding: var(--padding-default);
  border-radius: var(--roundness);
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  
  font-weight: normal;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.random-word-default {
  font-size: 1.5rem;
  color: lightgray;
  filter: blur(6px);
  padding: var(--padding-default);
  
  &:hover {
    filter: blur(0px);
  }
}

.random-word-correct {
  font-size: 1.5rem;
  color: rgb(129, 214, 2);
  padding: var(--padding-default);
}


.textInput {
  font-size: var(--font-size-default);
  padding: var(--padding-default);
  border-radius: var(--roundness);
  color: var(--text-h);
  background: var(--accent-bg);
  border: 0px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;
  text-align: center;

  &:focus-visible {
    outline: 1px solid var(--accent);
    outline-offset: 2px;
  }
}

.repeat-button {
  font-size: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

.counter {
  font-size: 30px;
  border-color: transparent;
  background-color: transparent;
}

.hero {
  position: relative;

  .animeImg {
    width: 250px;
    height: 250px;
  }
}
