* {
  box-sizing: border-box;
  outline: 1px solid transparent;
  
}

:root {
  --roundness: 0.5rem;
  --roundness-input: 0.9rem;
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --font-size-default: 1rem;
  --font-size-bigger: 1.5rem;
  --padding-default: 0.4em;
  --accent: rgba(20, 210, 20, 0.821);
  --accent-border: rgba(20, 193, 20, 0.459);
}

#root {
  padding: 0rem;
  width: 100%;
  margin: 0rem auto;
  border-radius: var(--roundness);
}

#logo {
  height: 10rem;
  width: auto;
}

.overlay-backdrop {
  position: fixed;
  inset: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.7);
}

.overlay {
  width: min(90vw, 50rem);
  height: min(85vh, 40rem);
  margin: auto;

  display: flex;
  flex-direction: column;

  padding: 0rem 0.5rem;
  background-color: var(--bg-color);
  border-radius: var(--roundness);

  border: 1px solid black;

  box-shadow:
    0rem 0rem 4rem rgba(255, 255, 255, 0.13);
}

.settings-container {
  padding-top: 1.5rem;
}

.settings-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
}

.settings-header h2 {
  font-size: 1.5rem;
  grid-column: 2;
  padding: 1.5rem;
}

.settings-header button {
  grid-column: 3;
  justify-self: end;
}

.settings-option {
  display: flex;
  width: 58%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  color: white;
}

.settings-option label {
  width: 10rem;
  flex: 0 0 9rem;
  text-align: left;
}

#voices, #dictionaries {
  max-width: 40%;
}

#option1 {
  margin-top: 0.35em;
}

.header-button {
  font-size: var(--font-size-default);
  border-radius: var(--roundness);
  border-color: transparent;
  background-color: transparent;
  padding: 0.5rem 0.75rem;

  &:hover {
    &:hover {
      cursor: pointer;
      background-color: var(--bg-color);
    }
  }
}

.close {
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  gap: 1.2rem;
  
}

.row {
  align-items: end;
  flex-direction: row;
  justify-content: end;
}

.less-bottom-margin {
  margin-bottom: 0;
}

.less-gap {
  gap: 0.8rem;
}

.container > * {
  margin: 0rem;
}

header {
  width: 100%;
}

.bg-beige {
  background-color: beige;
}

h1 {
  font-size: 2rem;
  margin: 0em;
  color:white;
}

.generator {
  font-size: var(--font-size-default);
  padding: var(--padding-default);
  border-radius: var(--roundness);
  color: rgba(255, 255, 255, 0.837);
  background: var(--accent-bg);
  border: 1px solid rgba(169, 169, 169, 0.11);
  transition: border-color 0.3s;

  font-weight: normal;

  box-shadow:
    inset 3px 3px 6px rgba(255, 255, 255, 0.15),
    inset -3px -3px 6px rgba(0, 0, 0, 0.6);

  &:hover {
    outline: 2px solid var(--accent-border);
    outline-offset: 2px;

  }
}

.textInput {
  font-size: var(--font-size-default);
  padding: var(--padding-default);
  border-radius: var(--roundness-input);
  color: var(--text-h);
  background: var(--accent-bg);
  border: 0px solid transparent;
  transition: border-color 0.3s;
  text-align: center;

  box-shadow:
    inset 3px 3px 6px rgba(0, 0, 0, 0.7),
    inset -3px -3px 6px rgba(255, 255, 255, 0.1);

  &:focus-visible {
    outline: 2px solid var(--accent-border);
    outline-offset: 2px;
  }
}

.random-word-default {
  font-size: var(--font-size-bigger);
  color: white;
  filter: blur(6px);
  padding: var(--padding-default);

  &:hover {
    filter: blur(0px);
  }
}

.random-word-correct {
  font-size: var(--font-size-bigger);
  color: var(--accent);
  padding: var(--padding-default);
}

.notMatching {
  &:focus-visible {
    outline: 2px solid rgba(255, 0, 0, 0.541);
    outline-offset: 2px;
  }
}

.repeat-button {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: none;
  background-color: transparent;

  transform: scaleX(-1);

  &:hover {
    cursor: pointer;
  }
}

.counter {
  font-size: var(--font-size-default);
  border-color: transparent;
  background-color: transparent;
  padding: 0;
}

p {
  padding: 0;
}