@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  /* palette for trying out different themes more easily */
  --palette-1: #8ea48a;
  --palette-2: #9fb99c;
  --palette-3: #8ea48a;
  --palette-4: #01352c;

  --color-background: var(--palette-1);
  --color-surface: var(--palette-2);
  --color-primary: var(--palette-3);

  --color-text: rgb(49, 57, 62);
  --color-text-muted: #5f6769;

  --color-border: #var(var(--palette-4));

  --color-success: #1d5234;
  --color-error: #ca4754;

  --color-caret: var(--color-text);
  --color-correct: var(--color-success);
  --color-correct-border: var(--color-success);

  --font-family: "Roboto Mono", ui-monospace, Consolas, monospace;
  --font-size-base: 1.1rem;
  --font-size-large: calc(var(--font-size-base) * 1.25);
  --font-size-larger: calc(var(--font-size-base) * 1.8);
  --line-height-base: 100%;

  --radius: 15px;
  --radius-input: 20px;

  --padding-default: 0.5em;

  @media (max-width: 1024px) {
    --font-size-base: 0.9rem;
  }
}

#root {
  text-align: center;
  min-height: 100svh;
  display: flex;

  flex-direction: column;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family);

  color-scheme: light;
  color: var(--color-text);
  background: var(--color-background);
  line-height: normal;
}

body {
  margin: 0;
}
